*{
    margin: 0;
    padding: 0;
    max-width: 100;
    box-sizing: border-box;
}
body{
    color: oldlace;
    background-color: rgb(51, 64, 64);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}  
p{
    font-size: 1.6rem auto;
    font-stretch: extra-expanded;
} 
form{
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    width: 70%;
    border: none;
    border: 1px solid gray;
    padding: 2%;
}
label{
    display: grid;
}
div{
    top:50%;
    left:50%;
    word-spacing: 0.3rem;
    color: black;
}
h3{
    color: rgb(229, 197, 150);
    font-size: 0.9rem;
}
.sign-up{
    margin: auto;
    background-color: rgb(229, 197, 150);
    width: 560px;
    height: 820px;
    border-radius: 3px;

}
